<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/style.css">
  <title>update task</title>
</head>
<body>
  <%- include('navbar') %>
  <div class="container">
      <h1>Update Task</h1>
  <form  class="todo-form" action="/update"  method="post">
    <input class="input" type="text" name="title" placeholder="enter task title">
    <br>
    <br>
    <textarea class="input" name="description" id="" ></textarea>
    <br>
    <button class="btn">Add New Task</button>
  </form> 
  </div>
  
</body>
</html>