body{
  background-color: rgb(141, 150, 170);
  margin:0;
  font-family: Arial, Helvetica, sans-serif;

  
}
nav{
  background-color: rgb(18, 50, 63);
  padding: 10px 20px;
 

}
nav ul{
   list-style: none;
   margin:0;
   padding:0;
   display:flex;
   gap:20px;
   
}
nav ul li{
  display:inline;

}
nav ul li a{
  text-decoration: none;
  color: #ccc;
  font-weight: 500;
  padding:8px 12px;
  border-radius: 4px;

}
nav ul li a:hover{
  background-color: lightcoral;
}
hr{
  margin: 0;
  border:0;
  border-top:2px solid #ccc;
}
.container{
  margin:20px;
  display:flex;
  flex-direction:column;
  align-items:center;
}
.todo-form{
  background-color: #4eaee6;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px;
  box-shadow: rgb(214, 218, 32) 0px  8px 16px;
  max-width: 400px;
  width: 100%;
  border-left:  solid 5px rgb(72, 64, 187);
  background-color: transparent;
}
.todo-form:hover{
  background-color: rgb(224, 195, 157);
  transition: 0.3s ease;
}
.input{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.textarea.input{
  max-width:10px;
  resize: vertical;
}
.btn{
  background-color: rgb(69, 98, 109);
  border:none;
  border-radius: 6px;
  color:white;
  font-size: 16px;
  cursor:pointer;
  margin-top: 10px;
  width: 100%;
  padding: 12px;
  box-shadow: #bf34db 0px 2px 4px;

}
.btn:hover{
  background-color: lightgreen;
}
.task-list{
  list-style-type:none;
  padding:0;
  margin:auto;
  max-width:600px;

}
.task-item{
  background-color: #fff;
  margin-bottom: 1px;
  padding:15px 20px;
  border-left: 5px solid greenyellow;
  box-shadow: 0 2px 4px rgba(39, 182, 127, 0.829);
  border-radius: 6px;
  background-color:  transparent ;

}
.task-item:hover{
  background-color: rgb(224, 195, 157);
  transition: 0.3s ease;
}
.task-title{
  font-weight: bold;
  font-size:18px;
  color:#333;
  margin-bottom: 8px;
}
.task-delete{
  margin-top: 10px;;
  background-color: rgb(165, 15, 15);
  border:none;
  color:#fff;
  padding:6px 10px;
  border-radius:4px;
  cursor:pointer;
 text-decoration: none;
  display: inline-block;
  box-shadow: rgba(95, 216, 39, 0.74) 0px 2px 4px;
}
.task-delete:hover{
  background-color: rgb(126, 28, 28);
}
.task-update{
  margin-top: 10px;;
  background-color: rgb(35, 204, 49);
  border:none;
  color:#fff;
  padding:6px 10px;
  border-radius:4px;
  cursor:pointer;
 text-decoration: none;
  display: inline-block;
  box-shadow: rgb(182, 7, 7) 0px 2px 4px;
}
.task-update:hover{
  background-color: rgb(61, 179, 169);
}
.delete-selected-task{
  background-color: rgb(196, 56, 56);
  color:#fff;
  border:none;
  border-radius: 4px;
  padding: 10px 8px;
  display:inline-block;
  cursor: pointer;
  margin-bottom: 8px;
  box-shadow: rgb(25, 209, 19) 0px 2px 4px;
}
.check{
  box-shadow: rgb(29, 17, 197) 0px 2px 4px;
  border: none;
  border-radius: 4px;
}
.card{
  background-color: transparent;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px;
  box-shadow: rgb(32, 190, 218) 0px  8px 16px;
  border:none;
}
.mango{
  background-color: transparent;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px;
  box-shadow: rgb(32, 190, 218) 0px  8px 16px;
  border:none;
}
  

