body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  
}
nav{
  background-color: rgb(18, 50, 63);
  padding: 10px 20px;
 

}
nav ul{
   list-style: none;
   margin:0;
   padding:0;
   display:flex;
   gap:20px;
   
}
nav ul li{
  display:inline;

}
nav ul li a{
  text-decoration: none;
  color: #ccc;
  font-weight: 500;
  padding:8px 12px;
  border-radius: 4px;

}
nav ul li a:hover{
  background-color: lightcoral;
}
hr{
  margin: 0;
  border:0;
  border-top:2px solid #ccc;
}
.container{
  margin:20px;
  display:flex;
  flex-direction:column;
  align-items:center;
}
.todo-form{
  background-color: #cabcbc;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px;
  max-width: 400px;
  width: 100%;
}
.input{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.textarea.input{
  max-width:10px;
  resize: vertical;
}
.btn{
  background-color: rgb(18, 50, 63);
  border:none;
  border-radius: 6px;
  color:white;
  font-size: 16px;
  cursor:pointer;
  margin-top: 10px;
  width: 100%;
  padding: 12px;
}
.btn:hover{
  background-color: lightgreen;
}
.task-list{
  list-style-type:none;
  padding:0;
  margin:auto;
  max-width:600px;

}
.task-item{
  background-color: #fff;
  margin-bottom: 15px;
  padding:15px 20px;
  border-left: solid 5px greenyellow;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 6px;
}
.task-item:hover{
  background-color: rgb(224, 195, 157);
  transition: 0.3s ease;
}
.task-title{
  font-weight: bold;
  font-size:18px;
  color:#333;
  margin-bottom: 8px;
}
.task-delete{
  margin-top: 10px;;
  background-color: rgb(196, 56, 56);
  border:none;
  color:#fff;
  padding:6px 10px;
  border-radius:4px;
  cursor:pointer;
 text-decoration: none;
  display: inline-block;
}
.task-delete:hover{
  background-color: rgb(126, 28, 28);
}
